body {
  background-color: white;
}

#game {
  position: relative;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.358);
  /* opacity: 50%; */
}

#gameHeader {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 0 0.25em rgb(0 0 0 / 25%);
}

#startButton {
  cursor: pointer;
}

#helpText {
  text-align: center;
  display: none;
}

/* br:nth-child(1) {
  color: #e74c3c;
} */

#helpTitle {
  cursor: pointer;
  text-shadow: 0 0 rgb(255, 255, 255), 0 1.2em #626ef5;
  overflow: hidden;
  color: rgba(255, 255, 255, 0);
  transition: 0.3s;
  padding: 0 0.1em;
  margin: 0;
}

#helpTitle:hover {
  text-shadow: 0 -1.2em rgb(255, 255, 255), 0 0 #626ef5;
}

#time {
  text-align: center;

  display: none;
}

/* #helpText .hover {
  color: grey;
} */

#clickArea {
  /* width: 100vh;
  height: 100vh;
  margin: 25px;
  background-color: aqua; */
}

.dots {
  list-style: none;
}

.dot {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: greenyellow;
  right: 0%;
  top: 0px;
  display: none;
  position: absolute;
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");

#startButton {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background-color: transparent; */
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  /* margin: 20px; */
  padding: 5.2px 25.8px;
  text-decoration: none;
  /* text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif; */
  font-weight: 700;
}
#startButton:hover,
#startButton:focus {
  color: #fff;
  outline: 0;
}

#startButton {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
#startButton:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}
